.answer {
  display: none;
}

.divider {
  border: none;
  height: 1px;
  background-color: #000;
  margin: 10px 0;
}

    /* FASHION COMPANY의 글씨 색을 진분홍색으로 변경 */
h1 {
      color: hotpink;
}